* {
  margin:0;
  padding:0;
}

body {
  background-color: #EAFDFF;
  font-family: 'Quicksand', sans-serif;

}
header {
  background-image: url('/Wanderful.ly_photos/background069.jpg');
  background-position: top;
  background-size: cover;
}
h1 {
  text-align: center;
  font-size: 5em;
  font-family: 'Amatic SC', cursive;
  margin:0;
  padding: 80px;
  border:0;
}
a {
  text-decoration: none;
  font-style: italic;
  color: #45C6C6;
}
.nav {
  text-align: center;
  color: #EAFDFF;
  padding:10px;
}
.welcomeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 2em;
  font-weight: bold;

}
.welcome1 a {
  color: #53EDED;
}
.welcome2 a {
  color: #FF6B6B;
}
.welcomeContainer div {
  padding: 50px;
  border: solid #EAEAEA;
  background-color: #F7FEFF;
  /*border-radius: 50%;
  width: 200px;
  height: 200px;*/
}
.navigation {
  text-align: center;
  padding:15px;

}
.text {
  font-size: 12px;
}
