<h2>Have Done</h2>

<p>CRUD for stories, recommendations, photos</p>

<h4>Your recommendations</h4>
<div data-ng-repeat="rec in vm.recommendations">
  <p>{{rec.text}}</p>
  <a data-ui-sref="recommendationShow({id: rec._id})">View Recommendation</a>
</div>
<h4>Add New Recommendation</h4>
<form action="/recommendations" method="post">
  <input type="text" data-ng-model="vm.newRec.country" placeholder="Country" />
  <textarea rows='4' cols='50' data-ng-model="vm.newRec.text" placeholder="Recommendation" ></textarea>
  <button type="button" data-ng-click="vm.createRec()">Add Recommendation</button>
</form>

<h4>Your stories</h4>
<div data-ng-repeat="story in vm.stories">
  <p>{{story.text}}</p>
  <a data-ui-sref="storyShow({id: story._id})">View Story</a>
</div>
<h4>Add New Story</h4>
<form action="/stories" method="post">
  <input type="text" data-ng-model="vm.newStory.country" placeholder="Country" />
  <textarea rows='4' cols='50' data-ng-model="vm.newStory.text" placeholder="Text"></textarea>
  <button type="button" data-ng-click="vm.createStory()">Add Story</button>
</form>

<h4>Your photos</h4>
<div data-ng-repeat="photo in vm.photos">
  <img src="{{photo.photo}}">
  <a data-ui-sref="photoShow({id: photo._id})">View Photo</a>
</div>
<h4>Add New Photo</h4>
<form action="/photos" method="post">
  <input type="text" data-ng-model="vm.newPhoto.country" placeholder="Country" />
  <input type="text" data-ng-model="vm.newPhoto.photo" placeholder="Photo Url" />
  <button type="button" data-ng-click="vm.createPhoto()">Add Photo</button>
</form>
