
<p>{{vm.trip.name}}</p>

<p>Notes: {{vm.trip.notes}}</p>

<p><button type="button" data-ng-click="vm.delete()">Delete</button></p>
<p>Update Trip</p>
<form>
  <input type="text" data-ng-model="vm.trip.name" placeholder="{{trip.name}}" />
  <textarea rows='4' cols='50' data-ng-model="vm.trip.notes" placeholder="{{trip.notes}}"></textarea><br>
  <p>Is this a dream trip or a trip you are planning now?</p>
  <input type="radio" name="planned" data-ng-model="vm.trip.planned" data-ng-value="true">Planned trip</input>
  <input type="radio" name="planned" data-ng-model="vm.trip.planned" data-ng-value="false">Dream trip</input><br>
  <button type="button" data-ng-click="vm.update()">Update Trip</button>
</form>

<h4>Travelers</h4>
<div data-ng-repeat="traveler in vm.travelers">
  <p>{{traveler.name}}</p>
</div>

<h4>Trip recommendations</h4>
<div data-ng-repeat="rec in vm.recommendations">
  <p>{{rec.text}}</p>
</div>

<h4>Trip stories</h4>
<div data-ng-repeat="story in vm.stories">
  <p>{{story.text}}</p>
</div>

<h4>Trip photos</h4>
<div data-ng-repeat="photo in vm.photos">
  <img src="{{photo.photo}}">
</div>
